.checkout-section {
  display: grid;
  place-items: center;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
}
.arrow {
  width: 40px;
  position: absolute;
  top: 16.5%;
  left: 8%;
}
h2 {
  align-self: center;
}
.h2-cart {
  margin: 0.4em;
}
.checkout-div {
  background-color: #d2e8f8;
  padding: 1.5em;
  border-radius: 1em;
  display: grid;
  place-items: center;
}
.toy-name-delet-btn {
  display: flex;
  justify-content: space-between;
}

.checkout-toy-card {
  background-color: white;
  margin: 0 0 1em 0;
  display: flex;
  padding: 1em 1em;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 0px 5px 10px rgba(1, 1, 3, 0.4);
  width: 13em;
}
.info-toy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.checkout-img {
  height: 60px;
}
.delete-btn {
  background-color: white;
  border: none;
  padding: 0em;
  cursor: pointer;
}
.img-checkout-div {
  width: 94px;
  justify-content: flex-start;
}
.plus-btn {
  cursor: pointer;
}
.minus-btn {
  cursor: pointer;
}
.buy-btn {
  width: 5em;
  align-self: center;
  margin-top: 1em;
  background-color: #75c5f4;
  border-radius: 0.7em;
  border: none;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
  transition: background-color 0.3s;
  padding: 0.4em 1em;
}
.buy-btn:hover {
  cursor: pointer;
  background-color: #5ba9d6;
}
.popup {
  position: fixed;
  background-color: #75c5f4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 2em;
  box-shadow: 7px 7px 20px 8px #020202;
}
.total-price {
  display: grid;
  place-items: center;
}
@media (min-width: 400px) {
  .checkout-div {
    padding: 1em 2em 1em 2em;
  }
}
@media (min-width: 600px) {
  .arrow {
    top: 18%;
    left: 18%;
  }
}

@media (min-width: 850px) {
  .arrow {
    top: 20%;
    left: 25%;
  }
}
@media (min-width: 1000px) {
  .arrow {
    left: 30%;
  }
}
@media (min-width: 1400px) {
  .arrow {
    left: 37%;
  }
}
