.img-start-section {
  display: grid;
  place-items: center;
  /* display: flex;
  flex-direction: column; */
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
h2 {
  margin-bottom: 0em;
}
h3 {
  margin: 0em;
}
.img-div {
  display: grid;
  place-items: center;
  margin-top: 2em;
}

.start-img {
  width: 60%;
  border-radius: 1em;
}

.link {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: #c0d3e0;
  padding: 0.4em;
  border: solid 1px #1d303d;
  border-radius: 1em;
  text-align: center;
  margin-top: 2em;
}
.link-toys {
  text-decoration: none;
  color: black;
}
