.toys-main {
  display: grid;
  place-items: center;
}
h2 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.cart-icon {
  width: 40px;
  position: absolute;
  top: 15.5%;
  right: 3%;
}

.search-dropdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  gap: 0.5em;
}
.search-section {
  display: flex;
  gap: 0.3em;
}
.search-section > input {
  border-radius: 0.5em;
  background-color: #b1d8ee;
  border: solid 0.2px black;
  padding: 0.8em;
}
.search-icon {
  width: 20px;
  height: 30px;
  align-self: center;
}
.dropdown-section > select {
  border-radius: 0.5em;
  background-color: #b1d8ee;
  padding: 0.5em;
  cursor: pointer;
}
.toys-section {
  background-color: #ffffff;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 14em;
  box-shadow: 0px 5px 11px rgba(1, 1, 3, 0.6);
}
.added-messages {
  margin-top: 3em;
  position: absolute;
  background-color: #b1d8ee;
  padding: 0.8em;
  height: 3em;
  border-radius: 0.7em;
  justify-content: center;
}
.toys-img {
  height: 120px;
  margin-top: 1em;
}
.toys-name {
  margin: 1em;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
}
.toys-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.toys-price {
  margin: 0em;
  align-self: center;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
}
.add-btn {
  background-color: #b1d8ee;
  border-radius: 0.7em;
  border: none;
  transition: background-color 0.3s;
  padding: 0.6em 1.2em;
}
.add-btn:hover {
  cursor: pointer;
  background-color: #5ba9d6;
}
@media (min-width: 410px) {
  .cart-icon {
    width: 50px;
    top: 5%;
    right: 3%;
  }
}

@media (min-width: 600px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 623px) {
  .search-dropdown-section {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .toys-meny {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .cart-icon {
    width: 55px;
    top: 5%;
  }
}

@media (min-width: 1600px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
