.toys-main {
  display: grid;
  place-items: center;
}
h2 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.cart-icon {
  width: 45px;
  position: absolute;
  top: 11.5%;
  right: 6%;
}
.toys-section {
  background-color: #ffffff;
  border-radius: 2em;
  margin: 1em;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 14em;
  box-shadow: 0px 5px 16px rgba(1, 1, 3, 0.6);
}
.toys-img {
  height: 120px;
  margin-top: 1em;
}
.toys-name {
  margin: 1em;
  font-family: "Indie Flower", cursive;
  font-weight: 600;
  font-style: normal;
}
.toys-info {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.toys-price {
  margin: 0em;
  align-self: center;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
}
.add-btn {
  background-color: #b1d8ee;
  border-radius: 2em;
  border: 1px solid #5ba9d6;
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
  transition: background-color 0.3s;
  padding: 0.6em 1.2em;
}
.add-btn:hover {
  cursor: pointer;
  background-color: #5ba9d6;
}

@media (min-width: 600px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .toys-meny {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1600px) {
  .toys-meny {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
